.footer{
    width: 100%;
    background-color: gray;
    padding: 10px;
}
 .principal {
    padding: 10;
    text-align: center
}
.footer h5{
    color: white;
    font-size: 17px;
}

.col{
    padding: 0px !important;
}

.search {
    margin-top: 70px;
    margin-bottom: 30px;
    width: 300px;    
    --color: #3d3d3d;
    --icon-color: #3d3d3d;
}


#textarea {
    margin-top: 50px;
    width: 330px;
    //margin-bottom: 270px;
}

#textarea > ion-label {
    margin-left: 10px;
    
}

ion-fab-button {
    --ion-color-primary: #000000 !important;
}

#rowprimary {
    text-align: center; 
    font-weight: 600 ;
    
}

.footerh5 {
     text-shadow: black 0.1em 0.1em 0.2em
}



