<ion-header>
  <ion-toolbar>
    <ion-title> Lançamento </ion-title>
    <ion-buttons left slot="start" >
      <ion-back-button>
        <ion-icon name="arrow-back">
        </ion-icon>
      </ion-back-button>
   </ion-buttons> 
 </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
<ion-list *ngFor="let produto of produtos">
  <div>
    <ion-item>
      <ion-label>
        <ion-row>
          <ion-col>
            <p text-wrap>  <b>{{produto.descricao }} </b></p>
            <p text-wrap style="font-size: 12px;" > 
              R$ {{produto.valor | number: '1.2'}}
          </p>

          </ion-col>
          <ion-col> 
            <ion-button fill="clear" color="light" strong="true" (click)="selecionar(produto, true)">
              <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>   
                            {{ getQuantidade(produto) }}
            <ion-button fill="clear" color="light" strong="true" (click)="selecionar(produto, false)">
              <ion-icon name="add-circle-outline" ></ion-icon>
            </ion-button> 
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </div>
</ion-list>

<div class="footer" slot="fixed" position="bottom">
  <ion-label>
      <ion-row id="rowprimary">
          <ion-col>
              <h5> Lançamento de Venda </h5>
          </ion-col>
      </ion-row>
   </ion-label>
</div>
</ion-content>
 <ion-fab vertical="bottom" horizontal="end" slot="fixed" id="floating-id2">
  <ion-fab-button (click)="salvarPedido()">
    <ion-icon name="add" id="button-float"></ion-icon>
  </ion-fab-button>
</ion-fab>
<div class="footer" style="margin-top: 3px !important;">
  <ion-label>
    <ion-row>
        <ion-col>
            <h5 class="footerh5"> <b> R$ {{precoUnitario | number: '1.2'}} </b></h5>
        </ion-col>
        <ion-col>
          <h5 class="footerh5"> <b>  ({{ valorTotal}}) </b> </h5> 
        </ion-col>
    </ion-row>
 </ion-label>
</div>
