<ion-header>
  <ion-toolbar>
    <ion-title>Lançamento</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-searchbar class="search" placeholder="Digite aqui"></ion-searchbar>
<ion-list *ngFor="let produto of produtos">
  <div>
    <ion-item>
      <ion-label>
        <ion-row>
          <ion-col>
            <p text-wrap> {{produto.descricao }}</p>
          </ion-col>
          <ion-col> 
            <ion-button fill="clear" color="light" strong="true">
              <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button> 
                                   3
            <ion-button fill="clear" color="light" strong="true">
              <ion-icon name="add-circle-outline" ></ion-icon>
            </ion-button> 
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </div>
</ion-list>

<div class="footer" slot="fixed" position="bottom">
  <ion-label>
      <ion-row id="rowprimary">
          <ion-col>
              <h5> Venda #1 </h5>
          </ion-col>
      </ion-row>
   </ion-label>
</div>
</ion-content>
<div id="textarea">
  <ion-label style="color: #000000;
                   font-weight: bold;
                   font-size: 17px;"> Observações </ion-label>
  <ion-item>
   <ion-textarea placeholder="Digite aqui suas observações..."></ion-textarea>
  </ion-item>
 </div>
 <ion-fab vertical="bottom" horizontal="end" slot="fixed" id="floating-id2">
  <ion-fab-button>
    <ion-icon name="add" id="button-float"></ion-icon>
  </ion-fab-button>
</ion-fab>
<div class="footer" style="margin-top: 3px !important;">
  <ion-label>
    <ion-row>
        <ion-col>
            <h5 style="margin-left: 80px;"> 15 </h5>
        </ion-col>
        <ion-col>
          <h5> R$11,00 </h5> 
        </ion-col>
    </ion-row>
 </ion-label>
</div>
