<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar Estabelecimento</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked" class="id-label">Nome</ion-label>
    <ion-input [(ngModel)]="estabelecimento.nome"></ion-input>
  </ion-item>
  <ion-fab vertical="center" horizontal="end" slot="fixed" id="floating-id" (click)="saveEstabelecimento()">
    <ion-fab-button>
      <ion-icon name="add" id="button-float"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <br/>
  <ion-button expand="block" fill="outline" class="button-cancel" strong="true" shape="round" > 
    Cancelar
   </ion-button>
</ion-content>
