<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar Estabelecimento</ion-title>
    <ion-buttons left slot="start" >
      <ion-back-button>
        <ion-icon name="arrow-back">
        </ion-icon>
      </ion-back-button>
   </ion-buttons> 
 </ion-toolbar>

</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked" class="id-label">Nome</ion-label>
    <ion-input [(ngModel)]="estabelecimento.nome"></ion-input>
  </ion-item>
  <ion-fab vertical="center" horizontal="end" slot="fixed" id="floating-id" (click)="saveEstabelecimento()">
    <ion-fab-button>
      <ion-icon name="add" id="button-float"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <br/>
</ion-content>
