<ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset="true">
    <ion-item>
      <ion-label>Produto 1 </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Produto 2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Produto 3</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Produto 4 </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
