<ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar class="search" [(ngModel)]="nomeProdutoFiltro" (ionChange)="getProdutoByNome(nomeProdutoFiltro)" placeholder="Digite aqui o produto"></ion-searchbar>
  <ion-item *ngIf="usuarioLogado.tipoUsuario == 1">
    <ion-label>Estabelecimento</ion-label>
      <ion-select [(ngModel)]="estabelecimentoSelecionado" name="selectCode" multiple="false"
        (ionChange)="getProdutos(estabelecimentoSelecionado)" required>
        <ion-select-option *ngFor="let estabelecimento of estabelecimentos" value="{{estabelecimento.id}}">
          {{estabelecimento.nome}}
        </ion-select-option>
    </ion-select>
  </ion-item>
  
 

  <ion-list inset="true" *ngFor="let produto of produtos">
    <ion-item>
      <ion-label>
        <ion-row>
          <ion-col>
            <p text-wrap style="font-size: 15px;">  <b>{{produto.descricao }} </b></p>
            <p text-wrap style="font-size: 13px; color: #808080;" > 
              R$ {{produto.valor}}
            </p>
          </ion-col>
       </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
