<ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar class="search" placeholder="Digite aqui o produto"></ion-searchbar>
  <ion-list inset="true" *ngFor="let produto of produtos">
    <ion-item>
      <ion-label>
        <ion-row>
          <ion-col>
            <p text-wrap style="font-size: 15px;">  <b>{{produto.descricao }} </b></p>
            <p text-wrap style="font-size: 13px; color: #808080;" > 
              R$ {{produto.valor | number: '1.2'}}
            </p>
          </ion-col>
       </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
