.id-label {
    font-size: 30px;
    text-shadow: gray 0.1em 0.1em 0.2em
}

ion-input {
    margin-top: 20px;
    font-weight: bold;
}

.color-icon-add-produto {
    --ion-color-primary: #696969 !important;
}

.color-icon-remove-produto {
    --ion-color-primary: #912929 !important;
}

ion-item {
    margin-top: 30px !important;
    padding-right: 10px;
    padding-left: 10px;
}

.button-cancel {
    --background: #ffffff;
    --border-color: #e61919;
    --color: #e61919;
    margin:auto;
    display:block;
    width: 150px;
 }

 .errors {
    color: #e61919;
}
