<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar Produtos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked" class="id-label"> Descrição</ion-label>
    <ion-input placeholder="Digite aqui a descrição..."></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" class="id-label">Valor</ion-label>
    <ion-input placeholder="Digite aqui o valor..."></ion-input>
  </ion-item>
  <ion-fab vertical="center" horizontal="end" slot="fixed" id="floating-id">
    <ion-fab-button >
      <ion-icon name="add" id="button-float"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
