ion-button {
    --background: #696969;
    --border-color: #000000;
    --border-width: 10px;
    --box-shadow: 3px 3px 3px black;
}

ion-label {
    font-weight: bold;
}

ion-item {
    padding-right: 20px;
}

.alertDanger{
    background-color: white;
    color: red;
    button{
        color: red;
    }
}