<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes Vendas</ion-title>
    <ion-buttons left slot="start" >
      <ion-back-button>
        <ion-icon name="arrow-back">
        </ion-icon>
      </ion-back-button>
   </ion-buttons> 
 </ion-toolbar>

</ion-header>


<ion-content>
  <ion-card>

    <div>
      <p> Venda </p>
      <span> {{pedido.id}} </span>
    </div>

    <div>
      <p> Data de Lançamento </p>
      <span> {{pedido.dataVenda | date:'dd/MM/yyyy HH:mm'}}</span>
    </div>

    <div>
      <p> Valor total </p>
      <span>  R$ {{pedido.valorTotal | number: '1.2'}} </span>
    </div>

    <div style="margin-bottom: 10px;">
      <p> Produtos </p>
      <ion-list *ngFor="let item of pedido.itens">
         > {{item.produto.descricao}}
      </ion-list>
    </div>

  </ion-card>
  <ion-button expand="block" fill="outline" class="button-cancel" strong="true" shape="round" > Cancelar venda</ion-button>
</ion-content>