

    p{
        margin-bottom: 2px;
        font-size: 11px !important; 
        color: #808080;
    }
    
    span {
        color: black;
    }

    ion-list {
        color: black;
        padding: 2px;
        font-size: 13px;
    }

    div {
        margin-left: 30px;
    }
    ion-card {
        background-color: white;
        margin-top: 60px;
    }

    ion-content {
        --ion-background-color: #dcdcdc;
    }

    .button-cancel {
       --background: #ffffff;
       --border-color: #e61919;
       --color: #e61919;
       margin-left: 40px;
       margin-right: 40px;

    }