<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Página Principal
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Página Principal</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Últimas Vendas</ion-title>
    </ion-toolbar>
  </ion-header>

 <!-- <ion-item>
    <ion-label>Vendas do dia</ion-label>
    <ion-badge color="danger" slot="end">05</ion-badge>
  </ion-item>-->

  <ion-list inset="true">
    <ion-item  lines="none" button (click)="detalhesVendas()">
      <ion-label>
        <ion-row>
          <ion-col>
            <p text-wrap style="font-size: 20px;">  <b> Venda 5 </b></p>
            <p text-wrap style="font-size: 13px; color: #228b22" > 
              R$ 12,00
            </p>
          </ion-col>
          <ion-col>
            <label text-wrap class="hordate">25/10/2020</label>
            <label text-wrap class="hordate"> 15:56</label>
          </ion-col>
       </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>


 